

<div class="container">

	<div id="title">
		<h1>Matias Ludueña</h1>
	</div>
	<div class="imagenCostado">
		<div class="caja caja1">
			<img class="imagen" src="../../../assets/img/bebe.jpg">
		</div>

		<div class="caja caja2">
			<p class="texto">
				Este es Matute de bebe, feliz y sonriente. El resto es texto de relleno. Sed placerat dui ac odio sagittis, ut pharetra felis accumsan. Pellentesque sed neque a nibh mattis suscipit vel eu sem. Sed egestas, diam ut dictum accumsan, urna mi vehicula lacus, eget suscipit erat tortor nec ante. Curabitur lobortis eu tortor et dapibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum luctus ultricies feugiat. Maecenas elementum tincidunt neque. Fusce id dignissim neque. 
			</p>
		</div>
	</div>

	<div class="imagenCostado">
		<div class="caja caja3">
			<p class="texto">
				Este es Matute vestido de Boca, hincha de Boca Juniors desde la cuna, GROSO. El resto es texto de relleno. Sed placerat dui ac odio sagittis, ut pharetra felis accumsan. Pellentesque sed neque a nibh mattis suscipit vel eu sem. Sed egestas, diam ut dictum accumsan, urna mi vehicula lacus, eget suscipit erat tortor nec ante. Curabitur lobortis eu tortor et dapibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum luctus ultricies feugiat. Maecenas elementum tincidunt neque. Fusce id dignissim neque. 
			</p>
		</div>

		<div class="caja caja4">
			<img class="imagen" src="../../../assets/img/boca.jpg">
		</div>
	</div>

	<div class="imagenCostado">
		<div class="caja caja5">
				<img class="imagen" src="../../../assets/img/space.jpg">
			</div>
		<div class="caja caja6">
			<p class="texto">
				Esto es cuando Matute fue al espacio. Algunos dirán que es Photoshop, otros dirán que es MAL uso de Photoshop, yo digo que es envidia. El resto es texto de relleno. Sed placerat dui ac odio sagittis, ut pharetra felis accumsan. Sed egestas, diam ut dictum accumsan, urna mi vehicula lacus, eget suscipit erat tortor nec ante. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum luctus ultricies feugiat. Maecenas elementum tincidunt neque.
			</p>
		</div>

	</div>

</div>

<img class="imagen" src="../../../assets/img/lentes.jpg">


<!--
<article class="about">
	<h2>Sobre mí</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat dui ac odio sagittis, ut pharetra felis accumsan. Pellentesque sed neque a nibh mattis suscipit vel eu sem. Sed egestas, diam ut dictum accumsan, urna mi vehicula lacus, eget suscipit erat tortor nec ante. Curabitur lobortis eu tortor et dapibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum luctus ultricies feugiat. Maecenas elementum tincidunt neque. Fusce id dignissim neque. 
	</p>
</article>
-->