<div class="container">
	
	<div class="bxslider">
		<div><img src="../../../assets/img/slider1.jpg" title="En vivo"></div>
  		<div><img src="../../../assets/img/pie.jpg" title="Logo"></div>
  		<div><img src="../../../assets/img/pie-viejo.jpg" title="Logo Viejo"></div>
  		<div><img src="../../../assets/img/slider3.jpg" title="Oscuro"></div>
  		<div><img src="../../../assets/img/slider5.jpg" title="Selfie"></div>
	</div>

	<h1>
		<a target="_blank" href="https://www.tiktok.com/tag/matutedrumcover">#MatuteDrumCover</a>
	</h1>

	<div class="clearfix"></div>

	<article class="about">
		<p>
			Esta es una página dedicada a un Dios en la batería. Es tan groso que el siguiente texto es aleatorio, como relleno, porque al tipo no lo conoce nadie. Praesent condimentum porttitor dui, ut pretium sem aliquet ac. Duis luctus leo a leo lobortis, sed ornare lorem semper. Praesent fringilla eros augue, at fermentum lectus accumsan in. Proin imperdiet, ligula eget tincidunt tristique, mauris justo fringilla risus, sit amet pellentesque ex velit elementum odio. Sed iaculis quam nec purus sollicitudin, ullamcorper porttitor turpis sodales. Aliquam pretium dui a ligula ullamcorper, ut laoreet arcu imperdiet. Vivamus semper cursus lacus id varius. Cras ultricies justo enim, in malesuada mi rhoncus sed. Aliquam nec semper lorem. Sed consectetur nisl tristique aliquet maximus. Aliquam vel leo vel lacus lobortis condimentum. Ut sagittis rhoncus est, eu interdum odio consectetur et.  
		</p>
	</article>

	<div class="redes">
		<a id="red1" target="_blank" href="https://www.tiktok.com/@matutedrumcover"><img src="../../../assets/img/tiktok-logo.png"></a>
		<a id="red2" target="_blank" href="https://www.youtube.com/channel/UCvopqOcZh4qV0FJ5G7Kv0vw"><img src="../../../assets/img/youtube.png"></a>
	</div>

	<article class="about">
		<p>
			Le dieron me gusta, gente grosa. Acá 3 ejemplos (los únicos que hay) la cuenta oficial de Franz Ferdinand le dio me gusta al cover estupendo de "Take me out" de los primeros que subió, el primero que subió a Instagram. Otro es del baterista de Michael Jackson, Jonathan Moffett que le dio me gusta hace poco al cover de "Bad" de Michael que Matute subió. Y el último es de Alex Gonzalez, baterista de Maná, que le dio me gusta y dejó un comentario al cover de Matute de la canción "Corazón Espinado" de Santana featuring Maná. CRACK.  
		</p>
	</article>

	<a><img class="imagen cholulo" src="../../../assets/img/franz.jpg"></a>
	<div id="espacio"></div>
	<a ><img class="imagen cholulo" src="../../../assets/img/michael.jpg"></a>
	<div id="espacio"></div>
	<a ><img class="imagen cholulo" src="../../../assets/img/mana.jpg"></a>
	
	
	
</div>
<img class="imagen" src="../../../assets/img/moras.jpg">