/*Importar fuentes custom*/
@font-face{
	font-family: "yanone";
	src: url("fonts/yanone.ttf");
}

@font-face{
	font-family: "finger";
	src: url("fonts/finger.ttf");
}

@font-face{
	font-family: "deadhead";
	src: url("fonts/Deadhead.ttf");
}

@font-face{
	font-family: "optimus";
	src: url("fonts/Optimus.ttf");
}

@font-face{
	font-family: "optimusSemiBold";
	src: url("fonts/OptimusSemiBold.ttf");
}

/*Generales*/

*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: "yanone", Arial, Helvetica;
	font-size: 20px;
	color: black;
	background: #1e1e1e;
}

.clearfix{
	float: none;
	clear: both;
}

#espacio{
	margin-top: 50px !important;
}

/*Barra de Navegacion / cabecera*/

header{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 90px;
	background: rgba(4, 4, 4, 0.8);;
	position: fixed;
	z-index: 1;
	text-transform: uppercase;
}

header ul{
	height: inherit;
	margin: 0 auto;
}


header ul li{
	display: inline-block;
	margin: 0px auto;
	text-align: center;
	line-height: 88px;
}

header a{
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	height: inherit;
	text-decoration: none;
	color: white;
	transition: all 300ms;
}


header a:hover,
.actived{
	background: #1e1e1e;
}

/*Contenedor Principal*/

#content{
	min-height: 800px;
	height: auto;
	width: 75%;
	margin: 0px auto;
	box-shadow: 0px 0px 40px black;
	border-left: 1px solid #b7b7b7;
	border-right: 1px solid #b7b7b7;
	background: rgba(255, 255, 255, 0.7);
	
}

/*Pie de pagina*/

footer{
	width: 75%;
	margin: 0px auto;
	padding-top: 15px;
	color: white;
	margin-bottom: 20px;
	text-align: center;
}

#copy{
	font-family: "deadhead";
}

/*Home*/
.bx-wrapper{
    margin: 0 auto;
    box-shadow: 0 0 15px #141414e8 !important;
    border: 5px solid #1d1d1d83 !important;
    background: #000000 !important;
}


.bxslider div img{
    width: 600px;
    height: 600px;
}


.container h1 a{	

	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 80px;
	font-family: "yanone";
	text-decoration: none;
	color: black;
	transition: all 300ms;
}

.container h1 a:hover{
	transform: scale(1.1, 1.1);
	text-shadow: 0px 0px 10px black;
}

.imagen{
	display: block;
 	margin-left: -1px;
 	margin-right: auto;
 	width: 100.2%;
 	height: auto;
}



.redes{
	width: 60%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
	transition: all 300ms;
}

.redes #red1:hover{
	transform: scale(1.1, 1.1);
	filter: drop-shadow(-6px -6px 6px #ee1d52) drop-shadow(12px 12px 12px #69c9d0);
	-webkit-filter: drop-shadow(-6px -6px 6px #ee1d52) drop-shadow(12px 12px 12px #69c9d0);
}

.redes #red2:hover{
	transform: scale(1.1, 1.1);
	filter: drop-shadow(10px 10px 10px #c4302b);
	-webkit-filter: drop-shadow(10px 10px 10px #c4302b);
}

.redes #red1{
  width: 150px;
  filter: drop-shadow(-4px -4px 4px #ee1d52) drop-shadow(6px 6px 6px #69c9d0);
  -webkit-filter: drop-shadow(-4px -4px 4px #ee1d52) drop-shadow(6px 6px 6px #69c9d0);
}

.redes #red2{
  width: 150px;
  filter: drop-shadow(5px 5px 5px #c4302b);
  -webkit-filter: drop-shadow(5px 5px 5px #c4302b);
}


.cholulo{
	box-shadow: 0px 0px 20px black !important;
}


/*Sobre mi*/

#title{
	width: 70%;
	margin: 0px auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 70px;
}

#title h1{
	font-family: "finger";
	font-size: 60px;
	border-bottom: 1px solid #1e1e1e;
	padding-bottom: 5px;
}

#title h2{
	font-size: 30px;
	color: gray;
	margin-top: 5px;
	margin-bottom: 5px;
}

article.about{
	width: 70%;
	margin: 0px auto;
	margin-bottom: 20px;
	font-size: 23px;
}

.about h2{
	
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.about h3{
	text-align: center;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-top: 1px dotted #1e1e1e;
}

.about p{
	border-top: 1px solid #1e1e1e;
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: center;
}

.imagenCostado{
	display: grid;
	grid-template-columns: 49% 49%;
	justify-content: space-between;
	margin-bottom: 40px;
}


.caja .imagen{
	box-shadow: 0px 0px 20px black;
}

.texto{
	font-family: "yanone";
	font-size: 30px;
	text-align: justify;

}


/*Seccion con formulario*/

.container{
	padding: 50px;
	padding-top: 10px;
	padding-top: 120px;
}


.container h2{
	
	padding-bottom: 10px;
	margin-bottom: 15px;
	display: block;
}

form {
    width: 80%;
    margin: auto;
    display: block;
}

form label{
	width: 100%;
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
}

form input[type="text"],
form input[type="email"],
form textarea{
	width: 60%;
	padding: 5px;
	margin: auto;
	display: block;
	margin-bottom: 10px;
}


form input[type="submit"]
{
	font-size: 17px;
	padding: 10px;
	display: block;
	margin-top: 15px;
	color: white;
	background: rgba(30, 30, 30, 1);
	border: 1px solid black;
	cursor: pointer;
	margin: auto;
}


form input[type="submit"]:hover{

	background: rgba(30, 30, 30, 0.8);
	border: 1px solid black;
	cursor: pointer;
}

form input[disabled]{
	opacity: 0.4;
	cursor: not-allowed;
}

form input[disabled]:hover{
	opacity: 0.4;
	cursor: not-allowed;
}

.form_error{
	display: block;
	width: 20%;
	margin: auto;
	text-align: center;
	font-size: 13px;
	padding: 3px;
	background: red;
	color: white;
	margin-bottom: 10px;
}

.message{
	width: 50%;
	padding: 5px;
	border: 1px solid #eee;
	margin: 5px;
	text-decoration: none;
	list-style: none;
}

.success{
	width: 40%;
	margin: auto;
	background: green;
	text-align: center;
	color: white;
}

.message a{
	color: white;
}

.failed{
	width: 40%;
	margin: auto;
	text-align: center;
	background: red;
	color: white;
}

/*Drum Covers y decades*/

.tiktok_link{
	color: #ee1d52;
	text-decoration: none;
}

.video{
	font-size: 0px;
	min-height: 350px;
	box-shadow: 0px 0px 10px black;
	margin-bottom: 50px;
}

.spotify{
	font-size: 0px;
	box-shadow: 0px 0px 10px black;
	margin-bottom: 50px !important;
    background-color: #272727;
    border: 2px solid #272727;
}

.decades{
	padding-bottom: 50px !important;
}

.botonScroll{
	display: fixed;

}

.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
   }
   .show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
   }

.btn:hover{
	transform: scale(1.1, 1.1);
 
}



/*Responsive*/

@media (max-width: 1280px){
	header{
		display: flex;
		width: 100%;
		height: 90px;
		margin: 0 auto;
		background: rgba(4, 4, 4, 0.8);;
		position: fixed;
		z-index: 1;
		text-transform: uppercase;
	}

	header ul{
		margin-left: 27%;
		width: 100%;
		height: inherit;
	}

	.imagenCostado{
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
	}


	.caja .imagen{
		box-shadow: 0px 0px 20px black;
		margin-bottom: 20px;
	}

	.texto{
		font-family: "yanone";
		font-size: 30px;
		text-align: justify;
	}

	.caja1{
		order: 1;
	}
	.caja2{
		order: 2;
	}
	.caja3{
		order: 4;
	}
	.caja4{
		order: 3;
	}
	.caja5{
		order: 5;
	}
	.caja6{
		order: 6;
	}
}

@media (max-width: 1040px){
	header ul{
		margin-left: 25%;
		
	}
}

@media (max-width: 1000px){
	header ul{
		margin-left: 20%;
	}

	.container{
		padding: 20px;
		padding-top: 10px;
		padding-top: 120px;
	}

	article.about{
		width: 90%;
		font-size: 23px;
	}
}

@media(max-width: 900px){
	header ul{
		margin-left: 20%;
	}
}

@media(max-width: 850px){
	header ul{
		margin-left: 15%;
	}
}

@media (max-width: 820px){

	header{
		
		width: 100%;
		height: 50px;
		background: rgba(4, 4, 4, 0.8);;
		position: fixed;
		z-index: 1;
		text-transform: uppercase;
	}

	header ul{
		width: 100%;
		height: inherit;
		margin-left: 25%;
	}


	header ul li{
		display: inline-block;
		margin: 0px auto;
		text-align: center;
		line-height: 50px;
	}

	header a{
		display: block;
		padding-right: 5px;
		padding-left: 5px;
		height: inherit;
	}


	header a:hover,
	.actived{
		background: #1e1e1e;
	}

	.container h1 a{	
		font-size: 50px;
	}

	.redes{
		width: 60%;
		margin: auto;
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
		transition: all 300ms;
	}

	.redes #red1 img{

	  width: 100px;
	}

	.redes #red2 img{

	  width: 100px;

	}
	
}

@media(max-width: 730px){
	header ul{
		margin-left: 20%;
	}
}

@media(max-width: 620px){
	header ul{
		margin-left: 15%;
	}
}

@media (max-width: 600px){

	#title h1 {
	    font-size: 30px;
	}

	.container h1 a{	
		font-size: 30px;
	}

	.redes #red1 img{

	  width: 75px;
	}

	.redes #red2 img{

	  width: 75px;

	}
}

@media(max-width: 550px){
	header ul{
		margin-left: 10%;
	}

	header a{
		font-size: 15px;
	}
}