

<div class="container">
	
	<article class="about">
		<h2>Drum Covers.</h2>
		<p>
			Un drum cover es... ... una versión propia de alguna canción, ponele, algo así. Y en esta parte vamos a poner algunos videos del crack Matute haciendo covers, porque es lo que él hace, y chau. 
		</p>

		<h3>Este es el último cover que subió a Youtube.</h3>
		<div class="video">
			<iframe width="100%" height="350" margin-bottom="-10" src="https://www.youtube.com/embed/xTgnyKyThPo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		<h3>Acá tenes una lista de resproducción de Covers de Kpop.</h3>
		<div class="video">
			<iframe width="100%" height="350" src="https://www.youtube.com/embed/8m_qUAojohs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		<h3>Un tema pesuti de Metallica.</h3>
		<div class="video">
			<iframe width="100%" height="350" src="https://www.youtube.com/embed/L5XXmgvYUsY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		<h3>Ojo, el tipo también la pifia.</h3>
		<div class="video">
			<iframe width="100%" height="350" src="https://www.youtube.com/embed/qls8xgzBSWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		<h3>Pero el waso toca la batería y mete teclado también, capo.</h3>
		<div class="video">
			<iframe width="100%" height="350" src="https://www.youtube.com/embed/x_tvwc1cZ2w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		<h3>Y siendo argentino, obvio que tiene algún cover de rock nacional pá.</h3>
		<div class="video">
			<iframe width="100%" height="350" src="https://www.youtube.com/embed/qCAESC-wKRI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		<h3>Temón, de los primeros covers que hizo.</h3>
		<div class="video">
			<iframe width="100%" height="350" src="https://www.youtube.com/embed/NF--oRieD-o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		<h3>Este es el primer video que subio a este canal de Youtube, el primer cover, feo feo pero es lo que hay.</h3>
		<div class="video">
			<iframe width="100%" height="350" src="https://www.youtube.com/embed/e7kOW5I6S5Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		
		
		
	</article>	




</div>


